<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <div class="content">
      <div class="container-lg">
        <div class="row row-cols-auto ">
          <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto" id="nav-col">
            <%= render 'layouts/navbar' %>
          </div>
          <div class="col-md-8 col-sm-10 col-xs-12 d-inline">
            <fieldset>
              <%= yield %>
            </fieldset>
          </div>
          <div class="col-md-2 d-none d-md-block"  >
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
